@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body{
    background-image: url(pixel.gif);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif; 
}
input {
    border: 0.5px solid transparent;
    width: 20px;
    height: 20px;
    background-color: black;
    
}
.numero {
    border: 1px solid black;
    width: 24px;
    height: 20px;
    background-color:#c2bdbd98;
}

.container {
    display: flex;
    width: 50%;
}

.r {
    background-color: white;
    border: 1px solid black;
}

.s {
    background-color: rgba(255, 255, 255, 0.527);
    border: 1px solid black;
} 


.div_q{
    border: 2px rgba(0, 128, 0, 0.37) solid;
    background-color: rgba(255, 255, 255, 0.445);
    border-radius: 5px;
    padding-left: 2%;
    width: 40%;
    margin-left: 53%;
    margin-top: -38.5%;
}
.button{
    background-color: rgba(240, 255, 255, 0.171);
    height: 50px;
    width: 130px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: white 2px solid;
    cursor: pointer;
    margin-left: 19%;
}
h2{
    font-size: 14px;
}

.desativados {
    background: transparent;
}